.header-section {
    text-align: center;
    padding: 2rem 0 1rem;
}

.header-section h1 {
    color: #771a1c;
}

.season-section {
    text-align: center;
    padding: 1rem;
}

.season-title {
    font-size: 1.8rem;
    color: #333;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 60vh; /* Adjust as needed */
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%; /* 4 slides (3 + 1 clone) = 400% */
    height: 100%;
    animation: slideAnimation 12s infinite;
}

.slide {
    width: 25%; /* 100% / 4 */
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideAnimation {
    0% { transform: translateX(0%); }
    25% { transform: translateX(0%); }
    33.33% { transform: translateX(-25%); }
    58.33% { transform: translateX(-25%); }
    66.66% { transform: translateX(-50%); }
    91.66% { transform: translateX(-50%); }
    100% { transform: translateX(-75%); }
}

.reserve-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #771a1c;
    color: #fbd5b2;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

.reserve-btn:hover {
    background-color: #5c1416;
    transform: translateX(-50%) translateY(-5px);
}

.pills {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  justify-content: center;
  padding: 1rem 1rem;
  border-top: 1px solid rgba(255,255,255,.05);
  border-bottom: 1px solid rgba(255,255,255,.05);
}

.pill {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: #771a1c;
  border: 1px solid #5c1416;
  border-radius: 100px;
  padding: .5rem 1.1rem;
  font-size: .85rem;
  color: #fbd5b2;
}

.pill-icon { color: #771a1c }

@media (max-width: 768px) {
    .slider-wrapper {
        height: 40vh;
    }
    
    .season-title {
        font-size: 1.5rem;
    }
    
    .reserve-btn {
        font-size: 1.2rem;
        padding: 0.8rem 2rem;
    }
}