/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Navbar */
.navbar {
    background: #3a5a40;
    color: #fff;
    padding: 1rem 0;
    border-bottom: #73a942 3px solid;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar .nav-links a:hover {
    color: #c1d7ae;
}

/* Footer */
.footer {
    background: #3a5a40;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

.footer .footer-links {
    list-style: none;
    padding: 0;
}

.footer .footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer .footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer .footer-links a:hover {
    color: #c1d7ae;
}

.footer .social-media {
    margin-top: 1rem;
}

.footer .social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}
